body {
    color: #FFFFFF;
    background-color: #000000;
}
.head {
    line-height: 1.2em
}
.main {
    line-height: 1.2em
}
#leak {
    line-height: 2em
}
.spoiler {
    line-height: 1.2em
}
.advice {
    line-height: 1.2em
}
.ban {
    line-height: 1.2em
}
